# ESP32 DEVKIT V1

config BOARD
  default "esp32_devkit_v1"
  depends on BOARD_ESP32_DEVKIT_V1

config ENTROPY_ESP32_RNG
  default y if ENTROPY_GENERATOR

if BT

config HEAP_MEM_POOL_SIZE
  default 16384

config ENTROPY_GENERATOR
  default y

choice BT_HCI_BUS_TYPE
  default BT_ESP32
endchoice

endif # BT
